<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    
</head>
<body>
    <h1>Resultado da Correlação</h1>
    <p>Correlação: {{ correlacao }}</p>
    <p>Intensidade: {{ intensidade }}</p>
    <p>Sinal: {{ sinal }}</p>
    <h2>Gráfico</h2>
    <img src="{{ grafico }}" alt="Gráfico de Correlação">
    <img src="../static/images/g1.png">
    <img src="../static/images/g2.png">
    <div class="lado">

        <a href="/media">Ver média</a>
        <a href="/mediana">Ver mediana</a>
        <a href="/moda">Ver moda</a>
    </div>
</body>
</html>
